/*Makes divs appear as grid*/

body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    padding: 10px;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    padding: 10px;
}

#container{
    width: 500px;
    height: 500px;
    justify-content: center;
    display: grid;
    border: 2px solid black;
    
}